.toolbar {
    width: 100%;
    positon: fixed;
    background:#1b1f23;
    height: 80px;
    top: 0;
    left: 0;
}

.toolbarNavigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbarLogo {
    margin-left: 1rem;
}

.toolbarLogo a {
    background: url('/static/images/logo.png');
    height: 60px;
    background-repeat: no-repeat;
    text-decoration: none;
    font-size: 1.5rem;
}

.spacer {
    flex: 1;
}

.toolbarNavigationItems ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbarNavigationItems li {
    padding: 0 0.5rem;
}

.toolbarNavigationItems a {
    color: white;
    text-decoration: none;
}

.toolbarNavigationItems a:hover,
.toolbarNavigationItems a:active {
    color: #fa923f;
}