header .wrapper {
    overflow: hidden;
    border-right: 1px solid #d9d9d9;
    box-shadow: 0 0 16px -6px #000000;
    -webkit-box-shadow: 0 0 16px -6px #000000;
    -moz-box-shadow: 0 0 16px -6px #000000;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 102;
    left: 0;
    -webkit-overflow-scrolling: touch;
}
